body{
    font-size: 16px;
}

h4.country-name{
    font-size: 22px;
}

.btn-container{
    position: relative;
    width: max-content;
    margin: 3rem 0 5rem 2.5rem;
}

.btn{
    box-shadow: 0 0 1rem var(--shadow);
    border: none;
    background-color: var(--element-bg);
    padding: 0.7em 2em 0.7em 3.5em;
    color: var(--text-color);
    min-width: 8em;
    cursor: pointer;
}

.arrow{
    position: absolute;
    left: 1.75em;
    bottom: 48%;
    top: 48%;
    right: 4.1rem;
    background-color: var(--text-color);
}

.arrow::after, .arrow::before{
    position: absolute;
    content: '';
    top: -10%;
    left: 0;
    right: 0.3em;
    bottom: -10%;
    background-color: var(--text-color);
}

.arrow::before{ transform: translateY(150%) translateX(-20%) rotate(45deg);}

.arrow::after{ transform: translateY(-150%) translateX(-20%) rotate(-45deg);}

.main-container{
    display: flex;
    gap: 10%;
    margin: 0 2.5rem;
}

.flag-big{
    height: 550px;
    max-height: 30vw;
    width: 100%;
    max-width: 40vw;
    background-size: 100% 100%;
}

.info-container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "primary secondary"
                         "borders  borders";
    gap: 4rem 1.5rem;
    width: 100%;
}

.primary-info{ grid-area: primary;}

.domain{ margin-top: 4.3rem;}

.secondary-info{ grid-area: secondary;}

.border-countries{ 
    grid-area: borders;
    width: 100%;
}

.borderes{ 
    font-weight: 800;
    padding-right: 1rem;
}

.borderes-btns{ display: inline;}

.border-btn{
    min-width: 8rem;
    padding: 0.8em 2.5em;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

@media (max-width: 810px){
    .main-container{ flex-direction: column;}

    .flag-big{
        max-width: none;
        max-height: 50vw;
    }

    .info-container{
        grid-template-columns: 100%;
        grid-template-areas: "primary" "secondary"
                             "borders";
        gap: 0px;
        margin-bottom: 5rem;
    }

    .secondary-info{ margin-bottom: 2rem;}
}